

body{
  background-color: #011F3F;
  text-align: center;
}
.game-over {
  background-color: red;
  opacity: 0.8;
}

h1{
  margin: 3% 15%;
  font-family: 'Press Start 2P', cursive;
  color:#FEF2BF;
}
.btn{
  margin: 25px;
display: inline-block;
height: 200px;
width: 200px;
border: 10px solid black;
border-radius: 20%;
}
.green{
  background-color: green;
}
.red{
  background-color: red;
}
.yellow{
  background-color: yellow;
}
.blue{
  background-color: blue;
}
.pressed{
  background-color: grey;
}
